SHOPIFY_API_KEY=013d14fa736687d6bced68a92cb8dc1c
SHOPIFY_API_SECRET_KEY=99569cc9c1ae3882637cdee912714132
SCOPES=write_customers,write_orders,write_products
# Leave HOST empty in dev mode, it will be auto generated.
HOST=Your Apps Url
SHOP=aamirkhattak.myshopify.com
NGROK_AUTH_TOKEN=2fMQznGWNUR3pcW7skEnRgqbeg2_6G4v3V6HFj5d6ebiPy4D1
UPSTASH_REDIS_REST_URL=us1-current-mouse-42610.upstash.io
UPSTASH_REDIS_REST_TOKEN=a9dd22464bb04c1c990658b8f14899f6